image: docker:latest

services:
  - name: docker:28-dind
    alias: docker
    command: ["--tls=false"]

variables:
    DOCKER_BUILDKIT: 1
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_TLS_CERTDIR: ""
    DOCKER_DRIVER: overlay2

stages:
    - test
    - build

validate_readme:
    stage: test
    allow_failure: true
    script:
        - ./validate-readme.sh
    only:
        - v2.9

build_images:
    stage: build
    script:
        - apk add --no-cache git bash
        - docker login -u $DOCKERHUB_USERNAME -p $DOCKERHUB_PASSWORD
        - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
        - git checkout -B $CI_COMMIT_REF_NAME
        - bash ./build.sh build
    only:
        - v2.9

update_readme:
    stage: build
    script:
        - ./update-readme.sh
    only:
        - v2.9
