include:
  - template: Security/Container-Scanning.gitlab-ci.yml

container_scanning:
  variables:
  parallel:
    matrix:
      - CS_IMAGE:
        - registry.whatwedo.ch/whatwedo/docker-base-images/base:v2.10
        - registry.whatwedo.ch/whatwedo/docker-base-images/base:v2.11
        - registry.whatwedo.ch/whatwedo/docker-base-images/php:v2.10
        - registry.whatwedo.ch/whatwedo/docker-base-images/php:v2.11
        - registry.whatwedo.ch/whatwedo/docker-base-images/yarn:v2.10
        - registry.whatwedo.ch/whatwedo/docker-base-images/nodejs:v2.11
        - registry.whatwedo.ch/whatwedo/docker-base-images/nginx:v2.10
        - registry.whatwedo.ch/whatwedo/docker-base-images/nginx:v2.11
        - registry.whatwedo.ch/whatwedo/docker-base-images/nginx-php:v2.10
        - registry.whatwedo.ch/whatwedo/docker-base-images/nginx-php:v2.11
        - registry.whatwedo.ch/whatwedo/docker-base-images/symfony:v2.10
        - registry.whatwedo.ch/whatwedo/docker-base-images/symfony:v2.11
